{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 3 versions",
          ]
        }
      }
    ]
  ],
  "env": {
    "development": {}
  }
}
