$baseFontSize: 16px;

// Set a rem font size with pixel fallback
@function calculateRem($size) {
  $remSize: $size / $baseFontSize;
  @return $remSize * 1rem;
}

// Font implementation
@mixin font($font, $size, $weight: normal) {
    font-family: $font, arial, sans-serif;
    font-weight: $weight;
    font-size: $size;
    font-size: calculateRem($size);
}
// usage
//@include font(almoni-tzar, 16px, normal)
