/*--------------------------------------------------------------
# RTL Styles
--------------------------------------------------------------*/
$text-direction: rtl;
$opposite-direction: left;
$default-float: right;

@import "main";

