.off-canvas{
  height:100%;
  .button-group{
    list-style-type: none;
    margin-right:0;
    li{
      a{
        font-weight: 400;
        font-size: 20px;
        font-size: 1.25rem;
        border-bottom: 1px solid $gold;
        display: block;
        padding: 0.7rem 1rem;
        outline: 0;
        font-weight: 700;
        color: $black;
      }
      }
    }
  }
